.x{
  color: rgb(206, 8, 8);
}

.y{
    color: blue;
}

.z{
    color: forestgreen;
}

.table  ,td, tr, th{
  border: 2px solid rgb(190, 174, 174)  ;
  border-collapse: separate ;
}

